<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mockmall.item.mapper.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.mockmall.item.pojo.Carousel">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="background_color" jdbcType="VARCHAR" property="backgroundColor" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insert" parameterType="com.mockmall.item.pojo.Carousel">
    insert into carousel (id, image_url, background_color, 
      module_id, type, sort, 
      is_show, version, is_valid, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{backgroundColor,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{isShow,jdbcType=BIT}, 0, 1, now(),
      now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mockmall.item.pojo.Carousel">
    update carousel
    set image_url = #{imageUrl,jdbcType=VARCHAR},
      background_color = #{backgroundColor,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=BIT},
      version = #{version,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=BIT},
      update_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, image_url, background_color, module_id, type, sort, is_show, version, 
    is_valid, create_time, update_time
    from carousel
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, image_url, background_color, module_id, type, sort, is_show, version, 
    is_valid, create_time, update_time
    from carousel
  </select>
</mapper>