<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mockmall.item.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.mockmall.item.pojo.Item">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <insert id="insert" parameterType="com.mockmall.item.pojo.Item">
    insert into item (id, name, category_id,
      price, status,
      version, is_valid, create_time,
      update_time, content)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR},
      #{price,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      0, 1, now(),
      now(), #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mockmall.item.pojo.Item">
    update item
    set name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      update_time = now(),
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, category_id, price, status, version, is_valid,
           create_time, update_time, content
    from item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, category_id, price, status, version, is_valid,
           create_time, update_time, content
    from item
  </select>

  <select id="countForRecommend" resultType="int">
    select count(*)
    from item
  </select>

  <select id="selectForRecommend" resultMap="BaseResultMap">
    select id, name, category_id, price, status, version, is_valid,
           create_time, update_time, content
    from item
    limit #{startPos},#{pageSize}
  </select>

</mapper>